<div class="">

<div class="not-visible">
  <%= @page_name="Sign up" %>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="">
    <%= f.text_field :name, autofocus: true, autocomplete: "full name", placeholder: "Full name", class: "input" %>
  </div>
  
  <div class="">
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "input" %>
  </div>

  <div class="">
    <%= f.password_field :password, autocomplete: "password", autocomplete: "current-password", placeholder: "Password", class: "input" %>
  </div>

  <div class="">
    <%= f.password_field :password_confirmation, autocomplete: "current-password", placeholder: "Repeat Password", class: "input" %>
  </div>

  <div class="sticky-btn-holder helper">
    <div class="sticky-btn">
      <%= f.submit "SIGN UP", class: "none"  %>
    </div>
  </div>
<% end %>
</div>
