<div class="">
<div class="not-visible">
  <%= @page_name="Log in" %>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "" }) do |f| %>
  <div class="divider">
  </div>
  <div class="">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>
  </div>

  <div class="">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="">
    </div>
  <% end %>

  <div class="sticky-btn-holder helper">
    <div class="sticky-btn">
      <%= f.submit "LOG IN", class: "none"  %>
    </div>
  </div>

<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot password?", new_password_path(resource_name) %><br />
<% end %>

</div>
