<nav class="nav-flex">
  <%= link_to image_tag("back.png", width: 30), "/" , class:"invert margin" %>
  <div class="flex items-center">CATEGORIES</div>
  <%= image_tag "search.png", width: 30, class:"invert" %>
</nav>

<section class="section">
<% @categories.each do |category| %>
  <%= link_to category_operations_path(category_id: category.id), class: "cat-div" do %>
    <div class="icon">
      <%= category.icon %>
    </div>
    <p class="text name"><%= category.name %></p>
    <p class="text amount"><%= number_to_currency(@total_amount_by_category[category.name]) %></p>
  <% end %>
<% end %>
</section>
<div class="sticky-btn-holder">
  <%= link_to "New Category", new_category_path, class:"sticky-btn" %>
</div>


