<div class="w-full mb-12 overflow-x-hidden overflow-y-hidden">
<% @categories.each do |category| %>
  <%= link_to category_operations_path(category_id: category.id), class: "cat-div" do %>
        <div class="cat-icon">
          <%= category.icon %>
        </div>
        <p class="cat-text cat-name"><%= category.name %></p>
        <p class="cat-text cat-amount"><%= number_to_currency(@total_amount_by_category[category.name]) %></p>
  <% end %>
<% end %>
</div>
<div class="sticky-btn-holder">
  <%= link_to "New Category", new_category_path, class:"sticky-btn" %>
</div>

