<%= form_with(model: @category, local: true, html: { class: "" }) do |form| %>
  <%= form.text_field :name, placeholder: "Name", class: "input" %>
  <div class="">
  <%= form.label :icon, class:"label" %><span>: </span>
    <%= form.collection_select :icon, emojis, :itself, :itself, {}, {class: 'drop-down'} %>

  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="sticky-btn-holder helper">
    <div class="sticky-btn">
      <%= form.submit 'Save', class: "none" %>
    </div>
  </div>
<% end %>

