<% @operations = @operations.sort_by { |operation| operation.created_at }.reverse %>

<div class="text-center text-white bg-sky-600 w-full leading-none">
  <h1>Most recent</h1>
  <p class="font-semibold">.</p>
</div>
<div class="flex justify-between w-full bg-white py-4 mb-2 font-semibold px-2">
  <span>Total:</span>
  <span>$<%= @total_amount %></span>
</div>
    <% @operations.each do |operation| %>
      <div class="op-div">
        <div class="icon">
          <%= @category.icon %>
        </div>
        <div>
          <p class="name text"><%= operation.name %></p>
          <p class="date"><%= operation.created_at.strftime('%B %d, %Y %H:%M') %></p>
        </div>
        <p class="amount"><%= number_to_currency(operation.amount) %></p>
      </div>
    <% end %>


<div class="sticky-btn-holder">
  <%= link_to 'New Transaction', new_operation_path(category_id: @category&.id), class: "sticky-btn" %>
</div>
